<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">
                <%= image_tag("logo-light.png", :alt =>"Intense_Logo") %>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from home link when scrolled up past home section -->
                  <li class="active"><a href="index.html"><span>Home</span></a>
                  </li>
                  <li class="transparent-nav"><a href="#"><span class="page-scroll">About</span></a>
                  </li>
                  <li class="transparent-nav"><a href="#"><span class="page-scroll">Financial Planning</span></a>
                  </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
