<!-- home Section -->
<section id="home" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Home</h2>
        </div>
    </div>
</section>

