@mixin transition($time){
	-webkit-transition: $time;
	-moz-transition: $time;
	transition: $time;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background-color: black;
}
html {
	width: 100%;
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}
p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}
@media (min-width: 768px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}
}
a {
	color: #42DCA3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
	text-decoration: none;
	color: #1d9b6c;
}
.light {
	font-weight: 400;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
}
.navbar-custom .navbar-toggle {
	margin-left: 5px;
	font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
	outline: none;
}
.navbar-custom .navbar-brand {
	font-weight: 700;
	.navbar-brand{
	}
}
.navbar-brand > img{
	margin-top: -8px;
}

.navbar-custom a {
	color: white;
	
}

.navbar-custom .nav li a {
	margin-left: 2px;
 	@include transition(background 0.3s ease-in-out);
}


.navbar-custom .nav li a:hover {
	color: rgba(255, 255, 255, 0.8);
	outline: none;
	background-color: transparent;
}
/*UnderLine for Navigation*/
.page-scroll {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.page-scroll:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 5px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.page-scroll:hover:after {
	width: 100%;
	background: #feed01;
}

/* End ofUnderLine for Navigation*/

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
	outline: none;
	background: transparent;
}
.navbar-custom .nav li.active {
	background-color: transparent;
  transition: .3s all ease;
}
.navbar-custom .nav li.active a span{
	padding-bottom: 6px;
	border-bottom: 2px solid #ffea00;
}

.navbar-nav > li{
	margin-left: 5px;
}

@media only screen and (min-width: 768px) {
	.navbar-custom {
		padding: 20px 0;
		border-bottom: none;
		text-align: center;
		letter-spacing: 1px;
		background: transparent;
		-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
		-moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
		transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	}

	.navbar-custom.top-nav-collapse {
		padding: 0;
		background: black;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
}

@media only screen and (max-width: 768px){
  .navbar-custom .navbar-brand{
    transform: translateX(-50%);
    position: fixed;
    left: 50%;
    width: auto;
	}
}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: white;
	background: url("http://demo.joomlashine.com/joomla-templates/jsn_corsa/pro/media/com_easysocial/photos/8/23/apple-desktop-wallpaper-1920x1080_large.jpg") no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
.intro .intro-body .brand-heading {
	font-size: 40px;
}
.intro .intro-body .intro-text {
	font-size: 18px;
}

@media (min-width: 768px) {
	.intro {
		height: 100%;
		padding: 0;
	}

	.intro .intro-body .brand-heading {
		font-size: 100px;
	}
	.intro .intro-body .intro-text {
		font-size: 26px;
	}

	.navbar-header .navbar-right {
	    float: right;
	    padding-right: 15px;
	}
	.navbar-header .nav.navbar-nav.navbar-right li {
	    float: right;
	    background-color: transparent;	
	}
  	.navbar-header .nav.navbar-nav.navbar-right li > a {
	    padding:8px 5px;
	}
	.navbar-header .navbar-toggle {
	    float: left;
	}
	.navbar-header .navbar-header {
	    float: left;
	    width: auto!important;
	}
	.navbar-header .navbar-collapse {
	    clear: both;
	    float: none;
	}
}
.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid white;
	border-radius: 100% !important;
	font-size: 40px;
	color: white;
	background: transparent;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
	outline: none;
	color: white;
	background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

footer {
	padding: 50px 0;
}
footer p {
	margin: 0;
}


